__pycache__/
*.pyc
.pytest_cache/
venv/
env/
.env
*.egg-info/
.venv/
backups/
backups/*
BackupTest/
backup_master_log*
backup_history.json
test_history.json
config/config.toml
config/*.key
config/*.pem
.git/
.github/
node_modules/
dist/
build/
*.log
